.container_question-content {
  background-color: #EF7F1A;
  width: 100%;
  border-radius: 10px;
  max-width: 1211px;
  margin: 0 auto;
}
.question-block {
  padding: 100px 46px 60px 100px;
}
.question__block__title {
text-align: center;
color: white;
margin-bottom: 49px;
}
.question-list__item {
background-color: white;

padding: 30px 0 30px 19px;
cursor: pointer;
margin-bottom: 14px;
border-radius: 3px;
}
.question__list_item__marker {
  position: relative;
  list-style: none;
  font-size: 18px;
  line-height: 21px;
  color: #2f2f51;
  font-weight: bold;
}
.question__item__marker_answer {
  color: black;
  font-size: 16px;
  margin-top: 15px;
}
details[open] summary:before {
  content: url(..//picture/vector/Vector2.svg);
  position: absolute;
  right: 30px;
}
details summary::before {
  content: url(../picture/vector/Vector1.svg);
  position:absolute;
  right: 30px;
}
summary:hover {
  color:#ef7f04;
}

@media  screen and (max-width: 992px) {
.container_question-content {
  background-color: #ef7f04;
  width: 100%;
  max-width: 880px;
  margin: 30px 56px;
}
}
.question-block {
  padding: 40px 40px 63px 40px;
}
.question {
  background-color: #EF7F1A;
  padding: 100px 46px 60px 100px
}
.question__title {
  color: white;
  margin-bottom: 50px;
}
.question__item {
  background-color: #EEEEF3;
  padding: 30px 19px;
}
.question__item-title {
  list-style: none;
}
}